.header{
        background: url('../assets/background-header.png') no-repeat left;
        width: 100%;
        background-size: cover;
        min-height: 570px;
        display: block;
        padding-top: 0px;
    }
.about{
   font-family: 'Amatic SC', cursive;
   font-size: 55px;
   font-weight: bold;
   }




@media screen and(max-width: 600px){
   .header{
      background: url('../assets/‏‏background-mobile.png') no-repeat cover;
      background-position: center;
   } 
}