.header{
        background: url('../assets/background-header.png') no-repeat left;
        width: 100%;
        background-size: cover;
        min-height: 570px;
        display: block;
        padding-top: 0px;
    }
.about{
   font-family: 'Amatic SC', cursive;
   font-size: 55px;
   font-weight: bold;
   }
.about-me{
   font-size: 35px;

}



@media screen and(max-width: 600px){
   .header{
      background: url('../assets/background-header.png') no-repeat;
      background-size: 500px;
      background-position: center;
      min-height: 300px;
   } 
   .about{
      font-size: 35px;
      }
   .about-me{
      font-size: 20px;
   
   }
   
}